@model ToYo.Web.Models.ViewModels.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">


    <form class="well form-search" action="@Url.Action("Trip")" method="post" autocomplete="off" id="route_select">
        <input id="from_id" type="hidden" name="from_id">
        <input id="to_id" type="hidden" name="to_id">

        <h5>From</h5>
        @Html.DropDownList("From", @Model.Places)
        <h5>To</h5>
        @Html.DropDownList("To", @Model.Places)
        <div>
            @Html.EditorFor(m => m.Date, new { @class = "form-control datecontrol", @PlaceHolder = "Enter Date of Birth"})
            <button type="submit" class="btn" onclick="submitForm()">Go!</button>
        </div>
</form>


</div>