@model ToYo.Web.Models.ViewModels.TripsModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">


    <form class="well form-search" action="@Url.Action("Trip")" method="post" autocomplete="off" id="route_select">
        <input id="from_id" type="hidden" name="from_id">
        <input id="to_id" type="hidden" name="to_id">

        <h5>Brottfararstaður</h5>
        @Html.DropDownList("From", @Model.Places)

        <!--
        <input class="from box input-block-level" type="text" name="from" placeholder="Brottfararstaður" onblur="this.placeholder = 'Brottfararstaður'" autocomplete="off" id="from">
        -->

        <!-- Ör -->
        <div><span class="glyphicon glyphicon-chevron-down"></span></div>
        <div><span class="glyphicons glyphicons-boat"></span>
        </div>
            <h5>Áfangastaður</h5>
            @Html.DropDownList("To", @Model.Places)
            <!--
        <input class="to input-block-level" type="text" name="to" placeholder="Áfangastaður" onblur="this.placeholder = 'Áfangastaður'" autocomplete="off" id="to">
        -->
            <!-- Takki -->
            <button type="submit" class="btn" onclick="submitForm()">Af stað!</button>

</form>


</div>