@model IEnumerable<ToYo.Web.Models.ViewModels.TripsModel>
@{
    ViewBag.Title = "Trip";
}


@foreach (var routes in @Model)
{
    <div class="row item">
        <div class="col-sm-4">
            <div class="col-sm-12"><strong>Date: </strong>@routes.Trips.First().Departure.ToString("dd.MM.yyyy")</div>
            <div class="col-sm-12"><strong>Travel time: </strong>@routes.JourneyTime.ToString("HH:mm")</div>
            <div class="col-sm-12"><strong>Total price: </strong>@(routes.TotalPrice != null ? string.Format("{0:c0}", routes.TotalPrice) : "N/A")</div>
        </div>
        <div class="col-sm-8">
            @for (var i = 0; i < routes.Trips.Count(); i++)
            {
                <div class="col-sm-4">
                    <div>
                        <label>@routes.Trips[i].Agent.Name </label>
                        @if (routes.Trips[i].Agent.Type == ToYo.Web.Models.AgentType.Bus)
                        {
                            <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/bus.png"></span>
                        }
                        else if (routes.Trips[i].Agent.Type == ToYo.Web.Models.AgentType.Airplane)
                        {
                            <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/airplane.png"></span>
                        }
                        else
                        {
                            <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/boat.png"></span>
                        }
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <label>From: </label>
                        <label>@routes.Trips[i].From.Name</label>
                    </div>
                    <hr>
                    <div>
                        @routes.Trips[i].Departure.ToString("HH:mm")
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <label>To: </label>
                        <label>@routes.Trips[i].To.Name</label>
                    </div>
                    <hr>
                    <div>
                        @routes.Trips[i].Arrival.ToString("HH:mm")
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr style="width: 100%;" />
                </div>
            }
        </div>
    </div>
}
