@model IEnumerable<IEnumerable< ToYo.Web.Models.ViewModels.TripModel>>
@{
    ViewBag.Title = "Trip";
}


@foreach (var routes in @Model)
{
    <div class="row item">
        @foreach (var route in routes)
        {
            <div class="col-sm-6">
                <div>
                    <label>Ferðamáti: </label>
                    <label>@route.Agent.Name </label>
                    @if (route.Agent.Type == ToYo.Web.Models.AgentType.Bus)
                    {
                        <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/bus.png"></span>
                    }
                    else if (route.Agent.Type == ToYo.Web.Models.AgentType.Airplane)
                    {
                        <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/airplane.png"></span>
                    }
                    else
                    {
                        <span class="glyphicons"><img style="width:auto; height:20px;" src="~/Content/Images/boat.png"></span>
                    }
                </div>
                <div>
                    @route.Departure.ToString("dd.MM.yyyy")
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <label>Frá: </label>
                    <label>@route.From.Name</label>
                </div>
                <hr>
                <div>
                    @route.Departure.ToString("HH:mm")
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <label>Til: </label>
                    <label>@route.To.Name</label>
                </div>
                <hr>
                <div>
                    @route.Arrival.ToString("HH:mm")
                </div>
            </div>
            <div class="col-sm-12">
                <hr style="width: 100%;" />
            </div>
        }
    </div>
}
